<p>
מארחים יקרים,<br> 
עבר זמן מה מאז יום השואה, אותו החלטנו כולנו לציין בצורה אחרת- נוגעת יותר, מקרבת יותר. אלפי בתים קיימו השנה ערב של זיכרון בסלון- בכל רחבי הארץ ובמקומות רבים בעולם. כך, יצרנו קהילה עצומה בגודלה ובמשמעותה, קהילה של אנשים שהמשותף להם הוא הרצון לייצר שיח אחר, חברה אחרת. זיכרון בסלון אמנם מתקיים פעם בשנה, אך הוא נשאר איתנו ברבדים רבים כל כך בחיינו- באופן בו אנחנו מבינים את המציאות שלנו, את הזהות שלנו ואת האופן בו אנו מתייחסים אחד לשני. המסקנות מערב כזה הן לא תמיד פשוטות וקלות לעיכול, הן גם אמביוולנטיות ומורכבות. אך זוהי הייחודיות של ערב כזה, המפגש בין השונה והדומה, בין הזר והמוכר, בין הישן והחדש. 

</p>
<p>
עם כמה שלא ניתן להכיל את כלל הרגעים של ערבי זיכרון בסלון, היינו רוצים ולו בקצת לאגד ולשמר חלק מהזיכרונות הללו. אנו מזמינים אתכם לשלוח לנו תמונות או קטעי וידאו (של העדויות או של כל חלק אחר בערב)- <u>עם כמה מילים על החוויה של הערב אצלכם בסלון</u>.  סך התמונות הללו ישמשו לבניית אלבום שכולו מארג אנושי ורב תרבותי שיספר את הסיפור והמהות של קהילת זיכרון בסלון. 
</p>

<p>
	<b>אנא שלחו את התמונות ל shira.basalon@gmail.com</b>
</p>
</p>
ימים טובים לכולם,
	<br>
	זכרון בסלון
</p>